@{
    ViewBag.Title = "Home Page";
}
<input id="Button1" type="button" value="GetDirections" onclick="return Button1_onclick()" /></td>


<div class="map featured">
    <div id="map"></div>
</div>


<table id="tablaViajes"
       class="sortable table-bordered"
       data-toolbar="#toolbar"
       data-search="true"
       data-pagination="true"
       data-minimum-count-columns="2"
       data-id-field="Codigo"
       data-unique-id="Codigo"
       data-page-size="8"
       data-show-footer="false">
    <thead>
        <tr>
            <th data-field="Nombre" data-sortable="true">Nombre</th>
            <th data-field="MostrarComo" data-sortable="true">MostrarComo</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts{
    @Scripts.Render("~/Scripts/Mapa.js")
}
