@model EmpresaModelo
@using ControlVehicular.Models

@{
    ViewBag.Title = "Empresa";
}

@Html.Partial("ModalAgregarEmpresa")
@Html.Partial("ModalEditarEmpresa")
<h2>Empresa</h2>

<div id="toolbar">
    <a href="#modalAgregarEmpresa" data-toggle="modal" class="btn btn-default">
        <i class="fa fa-plus"></i> Agregar Empresa
    </a>
</div>
<br />

<table id="tablaEmpresas"
       class="sortable table-bordered" 
       data-toolbar="#toolbar"
       data-search="true"
       data-pagination="true" 
       data-minimum-count-columns="2"  
       data-id-field="Codigo"
       data-unique-id="Codigo"
       data-page-size="8"
       data-show-footer="false">
   <thead>
       <tr>
           <th data-field="Nombre" data-sortable="true">Nombre</th>
           <th data-field="Fisica" data-sortable="true" data-formatter="formatoFisica">Fisica</th>
           <th data-field="Cedula" data-sortable="true">Cedula</th>
           <th data-field="Telefono">Telefono</th>
       </tr>
   </thead>
   <tbody></tbody>
</table>

<!--
<button onclick="Elemento()">Editar</button>
    -->


@section Scripts{
    @Scripts.Render("~/Scripts/Empresa/Empresa.js")
    @Scripts.Render("~/bundles/jqueryval")

}
