<!-- IMG1 -->
<div id="modal_img1" class="modal_image">

    <!-- The Close Button -->
    <span class="close-image" onclick="document.getElementById('modal_img1').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content-image" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

<!-- IMG2 -->
<div id="modal_img2" class="modal_image">

    <!-- The Close Button -->
    <span class="close-image" onclick="document.getElementById('modal_img2').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content-image" id="img02">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>


<!-- IMG3 -->
<div id="modal_img3" class="modal_image">

    <!-- The Close Button -->
    <span class="close-image" onclick="document.getElementById('modal_img3').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content-image" id="img03">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
